<div class="non-sidebar-content">
  <h1>Log in</h1>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="login-and-siginin-form-item">
      <div class="form_label"><%= f.label :email %></div>
      <%= f.email_field :email %>
    </div>
    <div class="login-and-siginin-form-item">
      <div class="form_label"><%= f.label :password %></div>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Login" %>
  <% end %>
</div>