<div class="container">
  <h1>アカウント情報を変更</h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="login-and-siginin-form-item">
      <div class="form_label profimg"><%= f.label :"プロフィール画像(縦横共に200px以内でお願いします)" %></div>
      <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="login-and-siginin-form-item">
      <div class="form_label"><%= f.label :name %></div>
      <%= f.text_field :name %>
    </div>
    <div class="login-and-siginin-form-item">
      <div class="form_label"><%= f.label :email %></div>
      <%= f.email_field :email %>
    </div>
      <div class="form_label"><%= f.label :password %></div>
      <%= f.password_field :password %>
    <div class="login-and-siginin-form-item">
      <div class="form_label"><%= f.label :password_confirmation %></div>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit 'アカウントを更新' %>
  <% end %>
</div>